In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

from scipy.stats import norm

In [2]:
# pd.set_option('display.float_format', lambda x: '%.f' % x)
# pd.set_option('display.max_rows', None)
# pd.set_option('display.max_columns', None)

### 1. Problem Definition

To predict stock price appreciation based on financial data (fundamental approach) for Indonesian public companies from 2020 until 2023.

### 2. Data Collection

In [3]:
df = pd.read_csv('combined_financial_data_idx.csv')

In [4]:
df.head()

,symbol,account,type,2020,2021,2022,2023
0,AALI,Accounts Payable,BS,7.702640e+11,1.026717e+12,1.224423e+12,8.420640e+11
1,AALI,Accounts Receivable,BS,7.658490e+11,4.581350e+11,8.487700e+11,6.744870e+11
2,AALI,Accumulated Depreciation,BS,-1.092095e+13,-1.213381e+13,-1.330375e+13,-1.443685e+13
3,AALI,Additional Paid In Capital,BS,3.878995e+12,3.878995e+12,3.878995e+12,3.878995e+12
4,AALI,Allowance For Doubtful Accounts Receivable,BS,-2.426100e+10,-2.454300e+10,-2.705700e+10,-2.651600e+10

In [5]:
df = df.pivot(index='symbol', columns='account', values=['2020', '2021', '2022', '2023'])
df.columns = [f'{col[1]}_{col[0]}' for col in df.columns]
df.reset_index(inplace=True)

In [6]:
df.head()

,symbol,Accounts Payable_2020,Accounts Receivable_2020,Accumulated Depreciation_2020,Additional Paid In Capital_2020,Allowance For Doubtful Accounts Receivable_2020,Amortization_2020,Assets Held For Sale Current_2020,Available For Sale Securities_2020,Average Dilution Earnings_2020,...,Total Tax Payable_2023,Total Unusual Items_2023,Total Unusual Items Excluding Goodwill_2023,Tradeand Other Payables Non Current_2023,Trading Securities_2023,Treasury Shares Number_2023,Treasury Stock_2023,Work In Process_2023,Working Capital_2023,Write Off_2023
0,AALI,7.702640e+11,7.658490e+11,-1.092095e+13,3.878995e+12,-2.426100e+10,NaN,NaN,NaN,NaN,...,1.202370e+11,7.490100e+10,7.490100e+10,NaN,NaN,0.0,NaN,1.099140e+11,3.236061e+12,-2.384100e+10
1,ABBA,3.835642e+10,1.589415e+10,-1.764548e+11,-1.012454e+11,-6.841390e+10,NaN,NaN,8.225640e+10,NaN,...,1.718310e+10,NaN,NaN,1.026090e+11,NaN,NaN,NaN,NaN,-1.025919e+11,NaN
2,ABDA,7.686395e+09,8.013687e+10,-9.088003e+10,8.109426e+09,NaN,NaN,NaN,NaN,NaN,...,3.849437e+09,8.119158e+09,8.119158e+09,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
3,ABMM,1.156274e+08,1.386149e+08,-6.859381e+08,1.150872e+08,-5.242683e+07,NaN,0.0,2.002887e+07,NaN,...,9.567298e+06,NaN,NaN,NaN,NaN,0.0,NaN,1.039217e+07,-8.958664e+06,NaN
4,ACES,1.642272e+11,1.434827e+11,-8.396180e+11,4.405749e+11,-5.511007e+07,3.706185e+09,NaN,NaN,NaN,...,7.371071e+10,-5.739006e+08,-5.739006e+08,NaN,NaN,29610300.0,3.418487e+10,NaN,4.898755e+12,5.463870e+07

In [7]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Accounts Payable_2020,581.0,4.966911e+11,1.706642e+12,0.000000e+00,6.615148e+09,8.067720e+10,3.300470e+11,1.699900e+13
Accounts Receivable_2020,530.0,5.727652e+11,1.676043e+12,0.000000e+00,4.702138e+09,8.769114e+10,4.007902e+11,1.707864e+13
Accumulated Depreciation_2020,588.0,-2.057908e+12,1.001841e+13,-1.664430e+14,-1.039924e+12,-1.984147e+11,-2.376867e+10,0.000000e+00
Additional Paid In Capital_2020,577.0,8.624769e+11,3.342041e+12,-4.111710e+12,4.570000e+08,8.167701e+10,5.698250e+11,6.328082e+13
Allowance For Doubtful Accounts Receivable_2020,405.0,-8.417233e+10,4.783591e+11,-8.360000e+12,-3.574800e+10,-3.776131e+09,-1.267331e+08,0.000000e+00
...,...,...,...,...,...,...,...,...
Treasury Shares Number_2023,216.0,7.915106e+08,8.925468e+09,0.000000e+00,0.000000e+00,1.045300e+04,1.054315e+08,1.308512e+11
Treasury Stock_2023,116.0,3.022673e+11,9.796827e+11,0.000000e+00,7.526860e+08,2.250151e+10,1.221651e+11,8.199511e+12
Work In Process_2023,143.0,9.994955e+10,2.273102e+11,0.000000e+00,1.640456e+09,1.576900e+10,8.045000e+10,1.836794e+12
Working Capital_2023,457.0,1.071514e+12,4.735861e+12,-1.987207e+13,8.225521e+06,1.602316e+11,9.218260e+11,4.116400e+13
Write Off_2023,217.0,-6.142625e+10,1.180043e+12,-1.633573e+13,0.000000e+00,3.860000e+08,1.104098e+10,2.653873e+12

#### 2.1. Target variables

The first dataset contains stock price appreciation data of Indonesian public companies from 2021 until 2023.

In [8]:
# WIP

#### 2.2. Predictor variables

The second dataset contains financial data of Indonesian public companies from 2020 until 2023.

#### 2.2.1. Return on Equity (ROE)

In [ ]:
# WIP

In [9]:
ROE_query = '''
    SELECT
        symbol,
        CAST((Net_Income_2020 / Total_Equity_2020) * 100 AS DOUBLE) AS ROE_2020,
        CAST((Net_Income_2021 / Total_Equity_2021) * 100 AS DOUBLE) AS ROE_2021,
        CAST((Net_Income_2022 / Total_Equity_2022) * 100 AS DOUBLE) AS ROE_2022,
        CAST((Net_Income_2023 / Total_Equity_2023) * 100 AS DOUBLE) AS ROE_2023
    FROM (
    -- Subquery to get Net Income and Total Equity for each year
        SELECT
            symbol,
            MAX(CASE WHEN account = 'Net Income' THEN "2020" END) AS Net_Income_2020,
            MAX(CASE WHEN account = 'Net Income' THEN "2021" END) AS Net_Income_2021,
            MAX(CASE WHEN account = 'Net Income' THEN "2022" END) AS Net_Income_2022,
            MAX(CASE WHEN account = 'Net Income' THEN "2023" END) AS Net_Income_2023,
            MAX(CASE WHEN account = 'Total Equity Gross Minority Interest' THEN "2020" END) AS Total_Equity_2020,
            MAX(CASE WHEN account = 'Total Equity Gross Minority Interest' THEN "2021" END) AS Total_Equity_2021,
            MAX(CASE WHEN account = 'Total Equity Gross Minority Interest' THEN "2022" END) AS Total_Equity_2022,
            MAX(CASE WHEN account = 'Total Equity Gross Minority Interest' THEN "2023" END) AS Total_Equity_2023
        FROM df
        GROUP BY symbol
    ) AS subquery;
'''
ROE = psql.sqldf(ROE_query)

NameError: name 'psql' is not defined

#### 2.2.2. Retention Ratio (RR)

In [ ]:
RR_query = '''
    SELECT
        symbol,
        (1 - (CAST(Dividend_2020 AS DECIMAL(20, 10)) / CAST(Net_Income_2020 AS DECIMAL(20, 10)))) * 100 AS RR_2020,
        (1 - (CAST(Dividend_2021 AS DECIMAL(20, 10)) / CAST(Net_Income_2021 AS DECIMAL(20, 10)))) * 100 AS RR_2021,
        (1 - (CAST(Dividend_2022 AS DECIMAL(20, 10)) / CAST(Net_Income_2022 AS DECIMAL(20, 10)))) * 100 AS RR_2022,
        (1 - (CAST(Dividend_2023 AS DECIMAL(20, 10)) / CAST(Net_Income_2023 AS DECIMAL(20, 10)))) * 100 AS RR_2023
    FROM (
    -- Subquery to get Net Income and Total Equity for each year
        SELECT
            symbol,
            MAX(CASE WHEN account = 'Cash Dividends Paid' THEN "2020" END) AS Dividend_2020,
            MAX(CASE WHEN account = 'Cash Dividends Paid' THEN "2021" END) AS Dividend_2021,
            MAX(CASE WHEN account = 'Cash Dividends Paid' THEN "2022" END) AS Dividend_2022,
            MAX(CASE WHEN account = 'Cash Dividends Paid' THEN "2023" END) AS Dividend_2023,
            MAX(CASE WHEN account = 'Net Income' THEN "2020" END) AS Net_Income_2020,
            MAX(CASE WHEN account = 'Net Income' THEN "2021" END) AS Net_Income_2021,
            MAX(CASE WHEN account = 'Net Income' THEN "2022" END) AS Net_Income_2022,
            MAX(CASE WHEN account = 'Net Income' THEN "2023" END) AS Net_Income_2023
        FROM df
        GROUP BY symbol
    ) AS subquery;
'''

RR = psql.sqldf(RR_query)

In [ ]:
RR.head()

### 3. Data Preprocessing

#### 3.1. Missing Values

In [ ]:
df[df.isnull().any(axis=1)].head(5)

In [ ]:
# Imputing null values with zero
df = df.fillna(0)

#### 3.2. Skewed Distribution

In [ ]:
# WIP

#### 3.3. Outliers

In [ ]:
# WIP

### 4. Exploratory Data Analysis

### 4.1. Target Variables

In [ ]:
# WIP

# Future stock price:
# 1 April 2021 - 1 April 2022; to predict the effect of AR 2021 (fundamental) on stock price
# 1 April 2022 - 1 April 2023; to predict the effect of AR 2022 (fundamental) on stock price
# 1 April 2023 - 1 April 2024; to predict the effect of AR 2023 (fundamental) on stock price

# Future dividends

# Future earnings

### 4.2. Predictor Variables

In [ ]:
ticker_symbols = df['symbol'].unique().tolist()

In [ ]:
print(ticker_symbols)

In [ ]:
accounts = df['account'].unique().tolist()

In [ ]:
accounts

### 5. Feature Selection

In [ ]:
# WIP

### 6. Data Modelling

In [ ]:
# WIP